body {
    font-family: menco, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
}
.main {
    display: grid;
    grid-template-columns: 15px 70px 250px 1fr 15px;
    grid-template-rows: 15px 1fr 15px;
    height: 100vh;
}
.nav {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #1f2224;
    border-radius: 35px;
    display: grid;
    grid-template-rows: 70px 70px 70px 70px 70px 1fr 70px 70px;
}
.unav {
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #272a2c;
    border-radius: 35px;
}
.mnav {
    grid-column: 1/6;
    grid-row: 1/4;
    background-color: #2e3135;
}
.database-icon-div {
    margin: 10px;
    padding: 15px;
    background-color: #272a2c;
    border-radius: 35px;
}
.database-svg{
    fill:#dce6f0;
}